Import necessary libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

Read the excel file

In [2]:
wine = pd.read_excel(r'C:\Users\user\Desktop\Desktop\Machine Learning\Wine data 2.xlsx')

Analyze the data

In [3]:
wine.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",VulkÃ Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin Oâ€™Keefe,@kerinokeefe,Nicosia 2013 VulkÃ Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwineÂ,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwineÂ,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [4]:
wine.shape

(49995, 13)

Perform summary statistics on the data

In [5]:
wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49995 entries, 0 to 49994
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   country                49967 non-null  object
 1   description            49995 non-null  object
 2   designation            35646 non-null  object
 3   points                 49995 non-null  int64
 4   price                  46464 non-null  float64
 5   province               49967 non-null  object
 6   region_1               41788 non-null  object
 7   region_2               19212 non-null  object
 8   taster_name            39748 non-null  object
 9   taster_twitter_handle  37892 non-null  object
 10  title                  49995 non-null  object
 11  variety                49995 non-null  object
 12  winery                 49995 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 5.0+ MB

Getting statistical measures on the numerical part of the data with .describe()

In [6]:
wine.describe()

             points         price
count  49995.000000  46464.000000
mean      88.454545     35.364325
std        3.048302     39.661069
min       80.000000      4.000000
25%       86.000000     17.000000
50%       88.000000     25.000000
75%       91.000000     42.000000
max      100.000000   2500.000000